@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  background: #191919;
}

a {
  text-decoration: none;
}

.hat {
  padding: 0px 50px;
  margin: 0 auto;

  max-width: 1340px;
  height: 119px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-castaway {
  width: 160px;
  height: 33px;
}

.hat-menu {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 40px;
}

.hat-menu-item {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.hat-menu-item:hover {
  color: #118da8;
}

.main-header {
  width: 526px;
}

.bold-font {
  font-weight: 700;
}

.frame-home {
  height: 913px;
  padding: 50px 40px 50px;
}

.home-podcast {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;

  padding-right: 60px;
  /* gap: 60px; */
}

.img-headphones {
  width: 650px;
  height: 873px;
}

.frame-listen {
  width: 530px;
  height: 610.578px;
}

.text-level {
  width: 526px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px; /* 125.714% */
  letter-spacing: 3.2px;
}

.type-level {
  font-weight: 700;
}

.img-line {
  width: 160px;
  height: 104px;
  position: absolute;
}

.listen-on {
  width: 66px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 22px;
}

.icon {
  display: flex;
  height: 32px;
  padding-right: 17px;
  padding-left: 22px;
  align-items: flex-start;
  gap: 17px;
  flex-shrink: 0;
}

.latest-episodes-container {
  padding: 60px 50px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 0;
}

.latest-episodes-header {
  margin: 0;
  width: 513px;

  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 123.75% */
  letter-spacing: 2.88px;
}

.frame {
  width: 1300px;
  margin-top: 60px;
  border-radius: 32px;
  background: #000;
}

.episode {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;

  gap: 53px;
  padding: 40px 40px;

  box-sizing: border-box;
}

.img-console {
  width: 389px;
  height: 465px;
  flex-shrink: 0;
  /* padding: 40px 40px; */
}

.img-microphone {
  width: 389px;
  height: 432px;
  flex-shrink: 0;
  /* padding: 40px 40px; */
}

.episode-type {
  border-radius: 6px;

  background: #191919;

  margin: 7.56px 0 48px;
  padding: 0 16px;

  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;

  width: fit-content;
}

h6 {
  width: 136px;
  height: 27px;

  flex-shrink: 0;
  width: 104px;
  border-radius: 6px;

  background: #191919;
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.episode-number {
  flex-shrink: 0;
  color: #118da8;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin: 0px 0px;
}

h1 {
  width: 700px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 2.56px;
  margin: 28px 0px 28px;
}

.episode-text {
  width: 773px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin: 0px;
}

.btn-episodes {
  width: 208px;
  height: 51px;

  flex-shrink: 0;
  border-radius: 6px;

  background: #118da8;
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;

  margin: 18px 0px 0px 0px;
}

.jacob-paulaner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1340px;

  margin: 0 auto;
  padding: 50px;
  gap: 60px;

  box-sizing: border-box;
}

.btn-arrow {
  width: 112px;
  height: 112px;

  flex-shrink: 0;

  border-radius: 400px;
  background: #118da8;
}

.greeting {
  width: 126px;
  color: #118da8;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

h2 {
  width: 496px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 121.846% */
  letter-spacing: 2.88px;
}

.text {
  width: 556px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.text2 {
  width: 528px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.img-man {
  width: 650px;
  height: 743px;
  flex-shrink: 0;
  border-radius: 12px;
}

.frame-contact {
  height: 587px;
  padding: 50px 100px;
}

.contact-container {
  height: 387px;

  border-radius: 32px;

  background: #000;
}

.subscribe {
  /* width: 642px; */
  height: 330px;

  display: flex;
  align-items: flex-start;
}

.text-email {
  width: 139px;
  color: #118da8;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;

  margin: 0;
  padding: 60px 59.13px 0px;
}

.text-subscribe {
  width: 431px;
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 110% */
  letter-spacing: 2.88px;

  /* padding: 60px 85.13px; */
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.form-name {
  width: 522px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #191919;

  background: #191919;
}

.form-email {
  width: 522px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #191919;

  background: #191919;
}

.IMAGE {
  width: 18px;
  height: 17px;
  /* display: flex; */
  justify-content: space-around;
  flex-shrink: 0;
  margin: 0 auto;
}

.btn {
  width: 178px;
  height: 51px;
  border-radius: 6px;
  background: #118da8;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.reviews-container {
  padding: 100px 50px;

  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 0;

  max-width: 1300px;
}

.review {
  /* width: 423px;
  height: 321px; */
  flex-shrink: 0;
  border-radius: 32px;
  background: #000;
  /* padding: 30px 60px; */
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 40px;
  padding: 54px 50px 51px;
}

h3 {
  width: 313px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
}

p {
  color: rgba(255, 255, 255, 0.7);
  width: 132px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}
