@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  background: #191919;
}

a {
  text-decoration: none;
}

a:hover {
  color: #118da8;
}

button {
  border: none;
  cursor: pointer;
}

.hat {
  padding: 0px 50px;
  margin: 0 auto;

  max-width: 1340px;
  height: 119px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-castaway {
  width: 160px;
  height: 33px;
}

.hat-menu {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 768px) {
  .hat {
    padding: 0 10px;
    height: 70px;
  }

  .img-castaway {
    width: 100px;
  }

  .hat-menu {
    gap: 10px;
    padding: 20px 0 20px 10px;
  }
}

.hat-menu-item {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.hat-menu-item:hover {
  color: #118da8;
}

.bold-font {
  font-weight: 700;
}

.frame-home {
  padding: 50px 40px 50px;
}

.img-sticks {
  position: absolute;
  left: -25px;
  top: -25px;
}

.home-podcast {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;

  padding-right: 60px;
}

.img-headphones-container {
  position: relative;
}

.img-headphones {
  width: 650px;
}

@media (max-width: 1300px) {
  .img-headphones {
    width: 350px;
  }
}

@media (max-width: 1024px) {
  .img-headphones-container {
    display: none;
  }
}

.text-level {
  max-width: 526px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px; /* 125.714% */
  letter-spacing: 3.2px;

  position: relative;
}

@media (max-width: 768px) {
  .text-level {
    max-width: 300px;

    margin-top: 0;
    margin-bottom: 40px;

    font-size: 40px;
    line-height: normal;
    letter-spacing: normal;
  }
}

.type-level {
  font-weight: 700;
}

.img-line {
  width: 160px;
  position: absolute;
  left: 0;
}

@media (max-width: 768px) {
  .img-line {
    width: 100px;
  }
}

.listen-on {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 22px;
}

.icon {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding-right: 17px;
  padding-left: 22px;
  align-items: flex-start;
  /* gap: 17px; */
  flex-shrink: 0;

  width: 267px;
}

.latest-episodes-container {
  padding: 60px 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 0;
}

.latest-episodes-header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  align-items: center;
}

.latest-episodes-header {
  margin: 0;

  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 123.75% */
  letter-spacing: 2.88px;
}

.frame {
  margin-top: 60px;
  border-radius: 32px;
  background: #000;
  max-width: 1300px;
  width: 100%;
}

.episode {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;

  padding: 40px 40px;

  box-sizing: border-box;
}

.img-console {
  width: 389px;
  height: 465px;
  flex-shrink: 0;
}

.img-microphone {
  width: 389px;
  height: 432px;
  flex-shrink: 0;
}

.episode-type {
  border-radius: 6px;

  background: #191919;

  margin: 7.56px 0 48px;
  padding: 0 16px;

  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;

  width: fit-content;
}

.episode-number {
  flex-shrink: 0;
  color: #118da8;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin: 0px 0px;
}

h1 {
  width: 700px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 2.56px;
  margin: 28px 0px 28px;
}

.episode-text {
  width: 773px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin: 0px;
}

.btn-episodes {
  width: 208px;
  height: 51px;

  flex-shrink: 0;
  border-radius: 6px;

  background: #118da8;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;

  margin: 18px 0px 0px 0px;
}

.jacob-paulaner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1300px;

  margin: 0 auto;
  padding-top: 50px;

  box-sizing: border-box;
}

.btn-arrow {
  width: 112px;
  height: 112px;

  flex-shrink: 0;

  border-radius: 400px;
  background: #118da8;
}

.greeting {
  width: 126px;
  color: #118da8;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 121.846% */
  letter-spacing: 2.88px;
}

.text {
  width: 556px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.text2 {
  width: 528px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.img-man {
  width: 650px;
  height: 743px;
  flex-shrink: 0;
  border-radius: 12px;
}

.frame-contact {
  padding: 50px 100px;
}

.contact-container {
  border-radius: 32px;

  background: #000;

  box-sizing: border-box;
}

.subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
}

.about-subscribe {
  height: 330px;
}

.text-email {
  width: 139px;
  color: #118da8;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;

  padding: 59.13px 0px 0px;
}

.text-subscribe {
  width: 431px;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 110% */
  letter-spacing: 2.88px;

  margin: 0;
}

.form {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
}

input {
  width: 522px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #191919;

  background: #191919;

  margin-bottom: 20px;
  padding: 0px 19px;

  font-size: 20px;
  color: #fff;
}

.btn-submit {
  width: 87px;
  height: 48px;
  border-radius: 6px;
  background: #118da8;

  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;

  cursor: pointer;
}

.img-sticks2 {
  position: relative;
  top: -10%;
  left: -3%;
}

.IMAGE {
  width: 18px;
  height: 17px;
  justify-content: space-around;
  flex-shrink: 0;
  margin: 0 auto;
}

.btn {
  width: 178px;
  height: 51px;
  border-radius: 6px;
  background: #118da8;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.reviews-container {
  padding: 100px 50px;

  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 0;

  max-width: 1300px;
}

.review {
  flex-shrink: 0;
  border-radius: 32px;
  background: #000;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding: 54px 50px 51px;
}

h3 {
  width: 313px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
}

p {
  color: rgba(255, 255, 255, 0.7);
  width: 132px;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  margin: 0;
}

.frame-foot {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* .guide {
  display: flex;
  flex-direction: column;
} */

.work-style {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  margin-top: 20px;
}

.information {
  display: flex;
  flex-direction: column;
}

.blocks {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  margin-top: 20px;
}

.blocks:first-child {
  margin-top: 0;
}

.work-style:first-child {
  margin-top: 0;
}
